.abouttitletext {
    color: darkolivegreen;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.subtitletext {
    color: darkolivegreen;
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }